In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
from time import time

In [3]:
data = pd.read_csv('subset2.csv')

In [7]:
data=data.dropna(axis=1, thresh=)
data.head()

,customer_ID,S_2,D_39,B_1,R_1,B_4,B_5,R_2,D_47,B_7,...,D_94,R_24,R_25,D_96,B_36,B_37,B_40,D_127,R_28,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.001733,0.008724,0.009228,0.080986,0.170600,0.006204,0.525351,0.059416,...,0.008871,0.003950,0.003647,0.004950,0.009968,0.004572,0.210060,1.003319,0.001535,0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.005775,0.004923,0.006151,0.069419,0.113239,0.006206,0.521311,0.057744,...,0.000391,0.008351,0.008850,0.003180,0.003921,0.004654,0.184093,1.008394,0.004931,0
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.091505,0.021655,0.006815,0.068839,0.060492,0.003259,0.524568,0.056647,...,0.009234,0.002471,0.009769,0.005433,0.001264,0.019176,0.154837,1.009307,0.009123,0
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.002455,0.013683,0.001373,0.055630,0.166782,0.009918,0.530929,0.049253,...,0.003200,0.008507,0.004858,0.000063,0.002729,0.011720,0.153939,1.001671,0.002409,0
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.002483,0.015193,0.007605,0.038862,0.143630,0.006667,0.529305,0.048918,...,0.003845,0.007190,0.002983,0.000535,0.009998,0.017598,0.120717,1.009886,0.004462,0

In [8]:
data.shape

(25000, 74)

In [10]:
data.target.mean()

0.258

In [11]:
data2 = pd.read_csv('subset2.csv')
data2=data2.dropna(axis=1, thresh=12000)
data2.shape

(25000, 161)

In [12]:
data3 = pd.read_csv('subset2.csv')
data3=data3.dropna(axis=1, thresh=22500)
data3.shape

(25000, 152)

In [14]:
l=[]
for i in data2.columns:
    if i not in data3:
        l.append(i)

In [15]:
l

['S_3', 'D_43', 'D_46', 'D_48', 'S_7', 'D_61', 'D_62', 'D_77', 'S_27']

In [17]:
data2.loc[data2['target'] == 1, 'S_3'].mean()

0.32975552564977006

In [18]:
data2.loc[data2['target'] == 0, 'S_3'].mean()

0.18257575974139745

In [27]:
for i in l:
    print(i,data2.loc[data2['target'] == 1, i].mean(), data2.loc[data2['target'] == 0, i].mean(),
          data2[i].std())

S_3 0.32975552564977006 0.18257575974139745 0.19631381440004747
D_43 0.26034797990133074 0.11174019200633122 0.21665945815307378
D_46 0.5149209993821803 0.4570210453340668 0.166575530126841
D_48 0.6881157739242055 0.26891487894068666 0.3286105584918224
S_7 0.3360242956662876 0.17395178704318745 0.20484573516815047
D_61 0.721607537748031 0.3271820257600694 0.3431296357095582
D_62 0.058618426294076265 0.2394651684586748 0.21635405171378724
D_77 0.08872471465437141 0.2920776977820832 0.21574892972409832
S_27 0.27678106702038174 0.2752076631727387 0.3245659388868539

In [28]:
for i in l:
    print(i,((data2.loc[data2['target'] == 1, i].mean())-(data2.loc[data2['target'] == 0, i].mean()))/data2[i].std())

S_3 0.7497168060137138
D_43 0.6859049180765765
D_46 0.34758979307479826
D_48 1.275676889103826
S_7 0.791192984760267
D_61 1.1494941588835037
D_62 -0.8358833159447321
D_77 -0.9425445743242453
S_27 0.004847717086516402

In [ ]:
#arbitrary threshold of 0.6 std dev differences

In [29]:
data4 = pd.read_csv('subset2.csv')
data4.shape

(25000, 191)

In [32]:
l1=[]
for i in data4.columns:
    if i not in data3:
        l1.append(i)

In [36]:
# columns to add to data 3 in list "to_add"
to_add =[]

for i in l1:
    if data4[i].std() != 0:
        if (((data4.loc[data4['target'] == 1, i].mean())-(data4.loc[data4['target'] == 0, i].mean()))/data4[i].std())>0.6:
            to_add.append(i)

In [37]:
to_add

['S_3', 'D_42', 'D_43', 'D_48', 'S_7', 'D_61']