In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
from time import time

In [2]:
data=pd.read_csv('train_data.csv')
labels=pd.read_csv('train_labels.csv')

In [3]:
# we can shrink data significantly just by using index and dropping customer_ID (after 
# joining it with labels)
labels.head()

                                         customer_ID  target
0  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1  00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2  00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3  000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4  00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0

In [4]:
data.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827

In [5]:
len(data)

5531451

In [6]:
data.iloc[:,0]

0          0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...
1          0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...
2          0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...
3          0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...
4          0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...
5          0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...
6          0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...
7          0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...
8          0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...
9          0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...
10         0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...
11         0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...
12         0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...
13         00000fd6641609c6ece5454664794f0340ad84dddce9a2...
14         00000fd6641609c6ece5454664794f0340ad84dddce9a2...
15         00000fd6641609c6ece5454664794f0340ad84dddce9a2...
16         00000fd6641609c6ece5454664794f0340ad84dddce9a2...
17         00000fd6641609c6ece5454664794f0340ad84dddce9a2...
18         00000fd6641609c6ece5454664794f0340ad84dddce9a2...
19         00000fd6641609c6ece5454664794f0340ad84dddce9a2...
20         00000fd6641609c6ece5454664794f0340ad84dddce9a2...
21         00000fd6641609c6ece5454664794f0340ad84dddce9a2...
22         00000fd6641609c6ece5454664794f0340ad84dddce9a2...
23         00000fd6641609c6ece5454664794f0340ad84dddce9a2...
24         00000fd6641609c6ece5454664794f0340ad84dddce9a2...
25         00000fd6641609c6ece5454664794f0340ad84dddce9a2...
26         00001b22f846c82c51f6e3958ccd81970162bae8b007e8...
27         00001b22f846c82c51f6e3958ccd81970162bae8b007e8...
28         00001b22f846c82c51f6e3958ccd81970162bae8b007e8...
29         00001b22f846c82c51f6e3958ccd81970162bae8b007e8...
                                 ...
5531421    ffff9984b999fccb2b6127635ed0736dda94e544e67e02...
5531422    ffff9984b999fccb2b6127635ed0736dda94e544e67e02...
5531423    ffff9984b999fccb2b6127635ed0736dda94e544e67e02...
5531424    ffff9984b999fccb2b6127635ed0736dda94e544e67e02...
5531425    ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...
5531426    ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...
5531427    ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...
5531428    ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...
5531429    ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...
5531430    ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...
5531431    ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...
5531432    ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...
5531433    ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...
5531434    ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...
5531435    ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...
5531436    ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...
5531437    ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...
5531438    fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...
5531439    fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...
5531440    fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...
5531441    fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...
5531442    fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...
5531443    fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...
5531444    fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...
5531445    fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...
5531446    fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...
5531447    fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...
5531448    fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...
5531449    fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...
5531450    fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...
Name: customer_ID, Length: 5531451, dtype: object

In [7]:
# For me this just executes indefinitely, but no errors thrown - I think computer at fault?
data = data.set_index('customer_ID').join(labels.set_index('customer_ID'))

In [16]:
data_subset = data.iloc[0:25000, :]
data_subset.to_csv("subset2.csv")

In [15]:
data.iloc[0:4,-1]

customer_ID
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a    0
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a    0
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a    0
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a    0
Name: target, dtype: int64

In [14]:
data.columns

Index(['S_2', 'P_2', 'D_39', 'B_1', 'B_2', 'R_1', 'S_3', 'D_41', 'B_3', 'D_42',
       ...
       'D_137', 'D_138', 'D_139', 'D_140', 'D_141', 'D_142', 'D_143', 'D_144',
       'D_145', 'target'],
      dtype='object', length=190)